{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="container">
        <div method="POST">
            {% csrf_token %}
            <div class="col-lg-6 mx-auto">
                <label for="basic-url" class="form-label">Выберите цвет отображения в графике</label>
                <div class="input-group mb-3">
                    {{ group.color_group }}
                </div>
                <div class="input-group mb-3">
                    {{ group.registry_sending_travel_agency_id }}
                    <span class="input-group-text" id="basic-addon1">
                        <a href="#"><i class="bi bi-file-earmark-plus"></i></a>
                    </span>
                </div>
                <label for="basic-url" class="form-label">Даты заезда</label>
                <div class="input-group mb-3">
                    {{ group.arrival_date }}
                    {{ group.arrival_time }}
                    {{ group.departure_date }}
                    {{ group.departure_time }}
                </div>
                <label for="exampleDataList" class="form-label">Отель</label>
                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                        {{ hotel.registry_hotels_id }}
                    </div>
                    Заезд {{ hotel.arrival_date }}
                    Выезд {{ hotel.departure_date }}
                </div>
                <button type="button" class="btn btn-light"><i class="bi bi-plus-square"></i></button>

                <label for="basic-url" class="form-label">Менджер</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Васильева Василиса Васильевна"
                           aria-label="Disabled input example" disabled>
                </div>
                <label for="basic-url" class="form-label">Номер RU</label>
                <div class="input-group mb-3">
                    {{ group.number_ru }}
                </div>
                <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Статус оплаты</option>
                        <option value="1">Нет</option>
                        <option value="2">Предоплата</option>
                        <option value="3">Полная</option>
                    </select>
                </div>
                <label for="basic-url" class="form-label">Прибытие</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Прибытие"
                           aria-label="Прибытие">
                </div>
                <label for="basic-url" class="form-label">Отправление</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Отправление"
                           aria-label="Отправление">
                </div>
            </div>
            {#            #}
            {#            <div class="row">#}
            {#                <div class="card " style="width: 21rem;">#}
            {#                    <div class="card-body">#}
            {#                        <h6 class="card-title">02.02.2022 Понедельник</h6>#}
            {#                        <div class="input-group mb-3">#}
            {#                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
            {#                            <label class="form-check-label" for="flexCheckDefault">#}
            {#                                Свободный день#}
            {#                            </label>#}
            {#                        </div>#}
            {#                        <label for="basic-url" class="form-label">Кол-во человек</label>#}
            {#                        <div class="input-group mb-3">#}
            {#                            <input type="text" class="form-control" placeholder="Шк"#}
            {#                                   aria-label="Кол-во человек">#}
            {#                            <input type="text" class="form-control" placeholder="Взрс"#}
            {#                                   aria-label="Кол-во человек">#}
            {#                            <input type="text" class="form-control" placeholder="Сопр"#}
            {#                                   aria-label="Кол-во человек">#}
            {#                            <input type="text" class="form-control" placeholder="Вод"#}
            {#                                   aria-label="Кол-во человек">#}
            {#                            <input type="text" class="form-control" placeholder="Итог"#}
            {#                                   aria-label="Кол-во человек">#}
            {#                        </div>#}
            {#                        <label for="exampleDataList" class="form-label">Транспортная компания</label>#}
            {#                        <div class="input-group mb-3">#}
            {#                            <div class="input-group mb-auto col-lg-3">#}
            {#                                <input type="text" class="form-control" placeholder="Кол-во часов"#}
            {#                                       aria-label="Кол-во часов">#}
            {#                                <input class="form-control" list="datalistOptions2" id="exampleDataList"#}
            {#                                       placeholder="Тип тк..." aria-describedby="basic-addon1">#}
            {#                                <datalist id="datalistOptions2">#}
            {#                                    <option value="Автобус">#}
            {#                                    <option value="Микроавтобус">#}
            {#                                    <option value="Легковой автомобиль">#}
            {#                                </datalist>#}
            {#                                <button type="button" class="btn btn-light"><i class="bi bi-plus-square"></i></button>#}
            {#                            </div>#}
            {#                            <label for="exampleDataList" class="form-label">Питание</label>#}
            {#                            <div class="input-group mb-3">#}
            {#                                <div class="input-group mb-3">#}
            {#                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
            {#                                    <label class="form-check-label" for="flexCheckDefault">#}
            {#                                        Завтрак#}
            {#                                    </label>#}
            {#                                </div>#}
            {#                                <div class="input-group mb-3">#}
            {#                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
            {#                                    <label class="form-check-label" for="flexCheckDefault">#}
            {#                                        Обед#}
            {#                                    </label>#}
            {#                                </div>#}
            {#                                <div class="input-group mb-3">#}
            {#                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
            {#                                    <label class="form-check-label" for="flexCheckDefault">#}
            {#                                        Ужин#}
            {#                                    </label>#}
            {#                                </div>#}
            {#                                <div class="input-group mb-3">#}
            {#                                    <button type="button" class="btn btn-light"><a href="#"><i#}
            {#                                            class="bi bi-plus-square"></i></a>#}
            {#                                    </button>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <div class="input-group mb-3">#}
            {#                                <input class="form-control" list="datalistOptions3" id="exampleDataList"#}
            {#                                       placeholder="Музеи..." aria-describedby="basic-addon1">#}
            {#                                <datalist id="datalistOptions3">#}
            {#                                    <option value="Эрмитаж">#}
            {#                                    <option value="Русский музей">#}
            {#                                    <option value="Музей РЖД">#}
            {#                                    <option value="Янтарная комната">#}
            {#                                </datalist>#}
            {#                                <input class="btn btn-outline-secondary dateFrom" type="time">#}
            {#                                <span class="input-group-text" id="basic-addon1">#}
            {#                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
            {#                            </span>#}
            {#                                <button type="button" class="btn btn-light"><a href="#"><i#}
            {#                                        class="bi bi-plus-square"></i></a>#}
            {#                                </button>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <button class="btn btn-outline-secondary top_button_date top_button_apply" type="submit">
                Сохранить
            </button>
            </form>
        </div>
{% endblock %}