{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
    <div class="chart-wrapper">
        <div class="sticky-top">
            <ul class="chart-values">
                {% for date in dates %}
                    <li>{{ date }}</li>
                {% endfor %}
            </ul>
        </div>
        <ul class="chart-bars">
            {% for group in groups %}
                <li class="group" data-id="{{ group.id }}"
                    data-duration="{{ group.arrival_date }}#{{ group.departure_date }}"
                    data-color="{{ group.color_group }}">{{ group.arrival_date }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script defer src="{% static 'js/dashboard.js' %}"></script>
    <script defer src="{% static 'js/groupinfo.js' %}"></script>
{% endblock %}