{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
    <div class="chart-wrapper">
        <ul class="chart-values">
            {% for date in dates %}
                <li>{{ date }}</li>
            {% endfor %}
        </ul>
        <ul class="chart-bars">
            {% for group in groups %}
                <li data-duration="{{ group.arrival_date }}#{{ group.departure_date }}" data-color="{{ group.color_group }}">{{ group.name_group }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}